body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.filter-container, .filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#holiday-results, #holidayList {
    margin-top: 20px;
    text-align: left;
}

.holiday-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
